.Weather {
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  width: 70%;
}
.Weather h1 {
  margin-top: 20px;
  font-size: 2.5em;
  font-weight: 700;
}
.Weather .description {
  text-transform: capitalize;
}
.Weather .weather-app-icon {
  width: 100%;
}
.Weather .secondary-info,
.Weather .default-cities {
  font-size: 0.9em;
  font-weight: 700;
}

.Weather #temp-element {
  line-height: 1;
  font-size: 3.2em;
  font-weight: 700;
  text-align: right;
}
.Weather .city-link {
  color: #584153;
  transition: all 0.2s ease-in-out;
}
.Weather .city-link:hover,
.Weather .city-link:focus {
  background-color: #edcee8;
  padding: 4px 8px;
  border-radius: 8px;
  text-decoration: none;
}
.Weather #button-current-city,
.Weather #button-search-city {
  border-radius: 50%;
  background-color: #584153;
  border: none;
  width: 50px;
  height: 50px;
  color: #f4f4f4;
  font-size: 1.2em;
  transition: all 0.2s ease-in-out;
}

.Weather #button-current-city:hover,
.Weather #button-search-city:hover {
  background-color: #96648f;
}
